.Card{
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
}

.Card .Title{
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: #fff;
    padding: 20px;
    color: #000;
}